<%- include("header") -%>

<h1 class="box" style="background-color: #A683E3;text-align:center">Daily 7410 To-Do List!</h1>
<p class="box" style="background-color: #A683E3;  font-family: 'helvetica neue';
  font-weight: bold;
  font-size: 1.5rem;color:#fff;text-align:center">A utility tool to manage your daily chores.</p>

<%- include("footer") -%>
