
<!--This EJS file contains html.EJS markup is
angel bracket percent sign equal sign variable name closing percent sign closing angle bracket-->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To-Do List!</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
